html {
  background-color: #212529;
}

.App {
  text-align: center;
  /* background-color: #2b2e35; */
  background-color: #212529;
}

h3 {
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#acct {
  margin-top: 4%;
}

#main {
  margin: 0 auto;
}

.imgurl {
  height: 350px;
  width: 350px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 2px;
  grid-auto-rows: min-max(80px, auto);
  grid-auto-flow: dense;
}

.c-1 {
  background: #1a535c;
  color: #ddd;
}

.c-2 {
  background: #4ecdc4;
}

.c-3 {
  background: #bfd7ea;
}

.c-4 {
  background: #ff6b6b;
}

.c-5 {
  background: #ffe66d;
}

.card {
  min-height: 100px;
  /* width: 50%; */
  /* max-width: 500px; */
  /* background-color: #2e3858; */
  background-size: cover;
  border: 0px solid rgba(0,0,0,.125);
  background-position: 50% 50%;
}

#title {
  color: white;
}
#login {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80%;
  /* margin-left: 28.7%; */
  left: 0;
  right: 0;
  opacity: 0;
  /* transition: .5s ease; */
  background-color: #666;
}

.overlaycontainer {
  position: relative;
}

.container:hover .overlay {
  opacity: 1;
  margin: 0% auto;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}