.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#acct {
  margin-top: 4%;
}

/* .wubs {
  max-height: 44px;
  margin-top: 3%;
  max-width: 100px;
} */

#main {
  margin: 0 auto;
}

/* #ether {
  float: left;
}
#ethbtn {
  margin-left: 200px;
} */
.imgurl {
  height: 300px;
}